{% extends "base.html" %}
{% block content %}
    <div class="subHeaders">
        Hosts and Users</br>
        Click <a href="/users/list_hosts">here</a> to show users on each host</br>
    </div>
    {% for host in view.data.hosts %}
    <div>
        <table class="Table">
        <tr>
            <th>{{ host }}</th>
            <th>Users: ({{ host.total }})</th>
            <th>UID</th>
            <th>GID</th>
            <th>Home Folder</th>
            <th>Groups</th>
            <th>Last Login</th>
            <th>Client IP</th>
        </tr>
        {% for user, data in host.users.items %}
        <tr>
            <td></td>
            <td><a href="/users/list_users/{{ user }}">{{ user }}</a></td>
            <td>{{ data.uid }}</td>
            <td>{{ data.gid }}</td>
            <td>{{ data.home }}</td>
            <td>{{ data.groups }}</td>
            <td>{{ data.last_login }}</td>
            <td>{{ data.client_ip }}</td>
        </tr>
        {% endfor %}
        </table>
    </div>
    {% endfor %}
{% endblock %}
